@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora), Arial, Helvetica, sans-serif;
}

.btn-primary
{
  padding: 0.75rem 1.5rem;
  background-color: #bc4749;
  /* border: 4px solid #020202; */
  color: #ffffff;
  font-weight: 700;
  border-radius: 1rem;
  /* border: none; */
  cursor: pointer;
  white-space: nowrap;
}

.btn-primary:hover
{
  /* background-color: #d66365; */
  border-radius: 1rem;
  /* border: 4px dashed #020202; */

  /* border: 4px solid #000000; */
}

.input-email
{
  flex: 1;
  padding: 0.75rem 1rem;
  border: 3.5px solid #070707;
  color: #000000;
  border-radius: 1rem;
  font-size: 1.5rem;
  outline: none;
}

.input-email:focus
{
  border-color: #493e2a;
}

.input-email::placeholder
{
 color: #555555;
}

.input-email:invalid
{
  border-color: #493e2a;
}
.info-box
{
  max-width: 650px;
  width: 900px;
  padding: 2rem;
  background-color: #98c37f;
  border-radius: 1rem;
  border: 4px solid #000;
}

.examples-box
{
  max-width: 650px;
  width: 900px;
  padding: 3rem 2rem;
  background-color: #98c37f;
  border-radius: 1rem;
  border: 4px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
